<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4 text-black">Staff Entry Log Records</h2>

 

  <!-- Table of Entry Logs -->
  <div class="bg-white shadow-lg rounded-lg p-6">
      <div class="overflow-x-auto">
          <table class="table w-full text-black border-collapse">
              <!-- Table Head -->
              <thead>
                  <tr>
                      <th class="text-black">Log ID</th>
                      <th class="text-black">User ID</th>
                      <th class="text-black">Staff ID</th>
                      <th class="text-black">Entry Time</th>
                      <th class="text-black">Exit Time</th>
                  </tr>
              </thead>
              <!-- Table Body -->
              <tbody>
                <tr *ngIf="isLoading" class="hover:bg-gray-100 border-b-0">
                  <td colspan="5" class="text-center">
                    <!-- Spinner from DaisyUI -->
                    <div class="flex justify-center">
                      <span class="loading loading-spinner loading-xs"></span>
                    </div>
                    <p class="mt-2">Loading...</p>
                  </td>
                </tr>
                <ng-container *ngIf="!isLoading">
                  <ng-container *ngIf="paginatedEntryLogs.length === 0; else logsTable">
                    <tr class="hover:bg-gray-100 border-b-0">
                      <td colspan="5" class="text-center">No entry logs available.</td>
                    </tr>
                  </ng-container>
                  <ng-template #logsTable>
                    <tr *ngFor="let log of paginatedEntryLogs" class="hover:bg-gray-100 border-b-0">
                      <td class="border-b-0">{{ log.log_id }}</td> <!-- Access log_id directly -->
                      <td class="border-b-0">{{ log.user_id }}</td> <!-- Access user_id directly -->
                      <td class="border-b-0">{{ log.staff_id }}</td> <!-- Access staff_id directly -->
                      <td class="border-b-0">{{ log.entry_time }}</td> <!-- Access entry_time directly -->
                      <td class="border-b-0">{{ log.exit_time }}</td> <!-- Access exit_time directly -->
                    </tr>
                  </ng-template>
                </ng-container>
              </tbody>
              
              
          </table>
      </div>
  </div>

 
</div>
