<app-navbar></app-navbar> <!-- This will render the Navbar -->

<div class="h-screen flex flex-col items-center justify-center bg-base-100 overflow-hidden">
  <div class="w-full max-w-lg shadow-md rounded-lg bg-base-100 p-8 border border-black">
    <h2 class="text-center text-2xl font-semibold mb-6 text-white">
      Staff Login
    </h2>
    <form>
      <div class="mb-6">
        <label
          class="block text-base font-medium text-black mb-1"
          for="email"
          >Email</label
        >
        <input
          type="email"
          id="email"
          placeholder="email@example.com"
          [(ngModel)]="email"
          name="email"
          class="w-full h-12 px-4 bg-base-100 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-200"
        />
      </div>
      <div class="mb-6">
        <label
          class="block text-base font-medium text-black mb-1"
          for="password"
          >Password</label
        >
        <input
          type="password"
          id="password"
          placeholder="Enter your password"
          [(ngModel)]="password"
          name="password"
          class="w-full h-12 px-4 bg-base-100 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-200"
        />
      </div>
      <div class="mt-6">
        <button
          type="button"
          (click)="login()"
          class="w-full h-12 bg-blue-500 hover:bg-blue-600 text-black font-semibold rounded-lg transition-all duration-200"
        >
          <span *ngIf="isLoading">
            <div class="flex justify-center items-center w-full">
              <span class="loading loading-spinner loading-xs"></span>
            </div>
          </span>
          <span *ngIf="!isLoading"> Login </span>
        </button>
      </div>
    </form>
  </div>
</div>
