<app-navbar></app-navbar> <!-- This will render the Navbar -->

<div class="container mx-auto p-4 bg-base-100 min-h-screen text-black">
  <!-- Header -->
  <header class="text-center py-8">
    <h1 class="text-3xl font-bold mb-4">Security Dashboard</h1>
    <p class="text-lg text-black">Manage your application settings and data efficiently</p>
  </header>

  <!-- Main Content Area -->
  <div class="flex-grow p-6">
    <h2 class="text-2xl font-semibold mb-8 text-black text-center">Welcome to the Security Dashboard</h2>

    <!-- Dashboard Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-center items-center">
      
      <!-- Feedback Card -->
      <div class="card p-6 border border-black bg-base-100 text-center rounded-lg shadow hover:bg-base-300">
        <h3 class="text-xl font-semibold mb-2">Feedback</h3>
        <button (click)="navigateToFeedbackForm()" class="mt-4 btn w-full bg-base-100 text-black border border-black hover:bg-base-200">
          View Feedback
        </button>
      </div>

      <!-- Entry Log Card -->
      <div class="card p-6 border border-black bg-base-100 text-center rounded-lg shadow hover:bg-base-300">
        <h3 class="text-xl font-semibold mb-2">Entry Log</h3>
        <button (click)="navigateToEntryLog()" class="mt-4 btn w-full bg-base-100 text-black border border-black hover:bg-base-200">
          View Entry Log
        </button>
      </div>
<!-- 
      <div class="card p-6 border border-black bg-base-100 text-center rounded-lg shadow hover:bg-base-300">
        <h3 class="text-xl font-semibold mb-2">Access Control</h3>
        <button (click)="navigateToACL()" class="mt-4 btn w-full bg-base-100 text-black border border-black hover:bg-base-200">
          View Access Control
        </button>
      </div> -->

      <!-- QR Code Card -->
      <div class="card p-6 border border-black bg-base-100 text-center rounded-lg shadow hover:bg-base-300">
        <h3 class="text-xl font-semibold mb-2">QR Code</h3>
        <button (click)="navigateToScanQRCode()" class="mt-4 btn w-full bg-base-100 text-black border border-black hover:bg-base-200">
          View QR Code
        </button>
      </div>
      
    </div>
  </div>
</div>
