

<app-navbar></app-navbar> <!-- This will render the Navbar -->

<div class="h-screen flex flex-col items-center justify-center bg-base-100 overflow-hidden">
  <div class="w-full max-w-lg shadow-md rounded-lg bg-base-100 p-8 border border-black">
    <h2 class="text-center text-2xl font-semibold mb-6 text-gray-800">
      Change Password
    </h2>
    <form (ngSubmit)="onChangePassword()">
      <!-- Current Password -->
      <div class="mb-6">
        <label
          class="block text-base font-medium text-black mb-1"
          for="currentPassword"
        >
          Current Password
        </label>
        <input
          type="password"
          id="currentPassword"
          [(ngModel)]="passwords.currentPassword"
          name="currentPassword"
          class="w-full h-12 px-4 bg-base-100 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-200"
          required
          placeholder="Enter your current password"
        />
      </div>

      <!-- New Password -->
      <div class="mb-6">
        <label
          class="block text-base font-medium text-black mb-1"
          for="newPassword"
        >
          New Password
        </label>
        <input
          type="password"
          id="newPassword"
          [(ngModel)]="passwords.newPassword"
          name="newPassword"
          class="w-full h-12 px-4 bg-base-100 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-200"
          required
          placeholder="Enter your new password"
        />
      </div>

      <!-- Confirm New Password -->
      <div class="mb-6">
        <label
          class="block text-base font-medium text-black mb-1"
          for="confirmPassword"
        >
          Confirm New Password
        </label>
        <input
          type="password"
          id="confirmPassword"
          [(ngModel)]="passwords.confirmPassword"
          name="confirmPassword"
          class="w-full h-12 px-4 bg-base-100 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-200"
          required
          placeholder="Confirm your new password"
        />
      </div>

      <!-- Button Group (Cancel & Change Password) -->
      <div class="flex justify-between gap-4 mt-6">
        <button
          type="button"
          (click)="cancel()"
          class="w-full h-12 bg-red-500 hover:bg-red-600 text-black font-semibold rounded-lg transition-all duration-200"
        >
          Cancel
        </button>
        <button type="submit" (click)="onChangePassword()"  
        class=" w-full h-12 b bg-blue-500 hover:bg-blue-600 text-black font-semibold rounded-lg transition-all duration-200">
          Change Password</button>

      </div>
    </form>
  </div>
</div>

