<div class="flex justify-center items-center h-screen bg-white">
  <div class="card w-full max-w-lg bg-white shadow-xl">
    <div class="card-body">
      <h2 class="card-title text-black">Change Password</h2>

      <form (ngSubmit)="onChangePassword()">
        <!-- Current Password -->
        <div class="form-control mb-4">
          <label class="label">
            <span class="label-text text-black">Current Password</span>
          </label>
          <input 
            type="password" 
            [(ngModel)]="passwords.currentPassword" 
            name="currentPassword" 
            class="input input-bordered bg-white text-black" 
            required/>
        </div>

        <!-- New Password -->
        <div class="form-control mb-4">
          <label class="label">
            <span class="label-text text-black">New Password</span>
          </label>
          <input 
            type="password" 
            [(ngModel)]="passwords.newPassword" 
            name="newPassword" 
            class="input input-bordered bg-white text-black" 
            required/>
        </div>

        <!-- Confirm New Password -->
        <div class="form-control mb-4">
          <label class="label">
            <span class="label-text text-black">Confirm New Password</span>
          </label>
          <input 
            type="password" 
            [(ngModel)]="passwords.confirmPassword" 
            name="confirmPassword" 
            class="input input-bordered bg-white text-black" 
            required/>
        </div>

         <!-- Button Group (Cancel & Change Password) -->
         <div class="form-control mt-6 flex justify-between">
          <button type="button" (click)="cancel()" class="btn btn-secondary bg-red-500 hover:bg-red-600 text-white">Cancel</button>
      </div>
      <div class="form-control mt-6 flex justify-between">
          <button type="submit" (click)="onChangePassword()"  class="btn btn-primary bg-blue-500 hover:bg-blue-600 text-white">Change Password</button>
      </div>
      </form>
    </div>
  </div>
</div>
