<app-default-navbar>
  <section class="flex justify-center items-center bg-white min-h-96">
    <div class="container flex flex-col justify-center items-center space-y-6">
      <h3 class="text-3xl font-bold mb-8">Login</h3>

      <!-- Login buttons -->
      <div class="gap-4 flex flex-row items-center justify-center">
        <!-- Staff Login -->
        <button
          class="btn btn-primary w-60"
          (click)="navigateTo('/staff-login')"
        >
          Staff Login
        </button>

        <!-- Security Login -->
        <button
          class="btn btn-secondary w-60"
          (click)="navigateTo('/security-login')"
        >
          Security Login
        </button>

        <!-- Admin/HR Login -->
        <button
          class="btn btn-accent w-60"
          (click)="navigateTo('/admin-login')"
        >
          Admin/HR Login
        </button>
      </div>
    </div>
  </section>
</app-default-navbar>
