<app-navbar></app-navbar> <!-- This will render the Navbar -->

<div class="h-screen flex flex-col items-center justify-center bg-base-100 overflow-hidden">
  <div class="w-full max-w-lg shadow-md rounded-lg bg-base-100 p-8 border border-black">
    <h2 class="text-center text-2xl font-semibold mb-6 text-gray-800">
      Edit Profile
    </h2>
    <form (ngSubmit)="onUpdateProfile()">
      <!-- Name Input -->
      <div class="mb-6">
        <label
          class="block text-base font-medium text-black mb-1"
          for="name"
        >
          Name
        </label>
        <input
          type="text"
          id="name"
          [(ngModel)]="user.name"
          name="name"
          class="w-full h-12 px-4 bg-base-100 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-200"
          required
          placeholder="Enter your name"
        />
      </div>

      <!-- Email Input -->
      <div class="mb-6">
        <label
          class="block text-base font-medium text-black mb-1"
          for="email"
        >
          Email
        </label>
        <input
          type="email"
          id="email"
          [(ngModel)]="user.email"
          name="email"
          class="w-full h-12 px-4 bg-base-100 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-200"
          required
          placeholder="email@example.com"
        />
      </div>

      <!-- Button Group (Cancel & Save Changes) -->
      <div class="flex justify-between gap-4 mt-6">
        <button
          type="button"
          (click)="cancel()"
          class="w-full h-12 bg-red-500 hover:bg-red-600 text-black font-semibold rounded-lg transition-all duration-200"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="w-full h-12 bg-blue-500 hover:bg-blue-600 text-black font-semibold rounded-lg transition-all duration-200"
        >
          <span *ngIf="is_loading">
            <div class="flex justify-center items-center w-full">
              <span class="loading loading-spinner loading-xs"></span>
            </div>
          </span>
          <span *ngIf="!is_loading">Save Changes</span>
        </button>
      </div>
    </form>
  </div>
</div>
